.nav-list {
  display: flex;
  list-style-type: none;
  gap: 10px;
  flex-direction: column;
}
.list-item-nav {
  display: flex;
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #d9dadd;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.list-item-nav:hover {
  color: blue;
}
.gallery {
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  list-style: none;
  padding: 24px 156px;
  gap: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 360px;
  height: auto;
  gap: 8px;
  border-radius: 8px;
  background: #f6f6fe;
}
.go-back {
  display: block;
  width: 60px;
  background-color: #75757dcc;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
}
.go-back:hover {
  color: blue;
}
button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  width: 95px;
  height: 40px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 8px;
}
button:hover {
  background-color: #6c8cff;
}
.sl-wrapper {
  background-color: #2e2f42cc;
}

.simple-lightbox button.sl-close,
.simple-lightbox .sl-navigation button.sl-prev,
.simple-lightbox .sl-navigation button.sl-next {
  color: #fff;
}
label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
input,
textarea {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
input:focus,
textarea:focus {
  border: 1px solid #000;
}
